<div class="container-fluid container-fluid-custom pb-5 mb-5">
    <div class="row mb-4">
        <div class="col">
            <h1>Hey, <%= userName %></h1>
        </div>
        <div class="col text-end">
            <!-- EXPORT FEATURE: Main export button to export all notes -->
            <a href="/dashboard/add" class="btn btn-primary me-2"> New Note</a>
            <!-- <a href="/dashboard/export" class="btn btn-outline-secondary">Export ALL Notes</a> -->
        </div>
    </div>

    <div class="row">
        <% if(notes.length > 0) { %>
          <% for(var i = 0; i < notes.length; i++){ %>

            <div class="col-sm-3 mb-4">
                <div class="card border-primary" style="min-height: 210px">
                    <!-- Note content area - clickable to view/edit note -->
                    <a href="/dashboard/item/<%= notes[i]._id %>" class="card-body text-decoration-none">
                        <h5 class="card-title"><%= notes[i].title %></h5>
                        <p class="card-text"><%= notes[i].body %></p>
                    </a>
                    <!-- EXPORT FEATURE: Individual note export button for each note card -->
                    <div class="card-footer bg-transparent border-0 pb-2">
                        <a href="/dashboard/export/<%= notes[i]._id %>" class="btn btn-sm btn-outline-secondary w-100">
                            <i class="fas fa-download me-1"></i>Export Note
                        </a>
                    </div>
                </div>
            </div>

            <% }} else{ %>

                <div class="row">
                    <div class="col-3">
                        <img>
                    </div>
                    <div class="col mt-md-4">
                        <h2>Okay...</h2>
                        <h4>Let's start with your first note!!!<br/><br/>
                            <a href="/dashboard/add">Create One!</a>
                        </h4>
                    </div>
                </div>

                <% } %>


    </div>


      <% if(notes.length>0){ %>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center mt-5">
                <% if(current == 1) { %>
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <% } else { %>
                    <li class="page-item"><a class="page-link" href="/dashboard">First</a></li>
                <% } %>

                <% var i = (Number(current) > 5 ? Number(current) - 4 : 1); %>
                <% if(i !== 1){ %>
                    <li class="page-item"><a class="page-link" href="#">...</a></li>
                <% } %>

                <% for(; i <= Math.min(Number(current) + 4, pages); i++) { %>
                    <% if(i == current){ %>
                        <li class="page-item"><a class="page-link" href="#"><%= i %></a></li>
                    <% } else { %>
                        <li class="page-item"><a class="page-link" href="/dashboard/?page=<%= i %>"><%= i %></a></li>
                    <% } %>
                    <% if(i == Number(current) + 4 && i < pages) { %>
                        <li class="page-item"><a class="page-link" href="#">...</a></li>
                    <% } %>
                <% } %>

                <% if(current == pages){ %>
                    <li class="page-item disabled"><a class="page-link" href="#">last</a></li>
                <% } else { %>
                    <li class="page-item"><a class="page-link" href="/dashboard/?page=<%= pages %>">Next</a></li>
                <% } %>
            </ul>

        </nav>
      <% } %>


</div>